@import url(https://fonts.google.com/specimen/Nunito+Sans);

.body {
  font-family: Nunito Sans;
}

.nav {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.header {
  background-color: #dedede;
  transition: 0.2s;
  padding: 1.5rem 0;
  box-shadow: 0px 1px 10px #999;
  margin-bottom: 2rem;
}

#navBar {
  display: flex;
}

.floatingNav {
  width: calc(100vh - 100px);
  border-radius: 2px;
  box-shadow: 0px 1px 10px #999;
}

.label {
  font-size: 0.625rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: +1.3px;
  margin-bottom: 1rem;
}

@media (min-width: 375px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 48px;
  }
}

.searchBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchQueryInput {
  width: 100%;
  height: 2.8rem;
  background: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
}

.searchQuerySubmit {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

.searchQuerySubmit:hover {
  cursor: pointer;
}

.searchContainer {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.card {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 17em;
  margin: 1em;
  text-align: center;
  margin-inline: auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 2.5rem;
}

.card img {
  max-width: 100%;
}

.description {
  padding: 25px 1em 3em 1em;
  text-align: start;
}

.detailDesc {
  padding: 25px 1em 3em 1em;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.detailContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.moreDetail {
  margin-top: 1.5rem;
}

.button {
  font-size: 1em;
  padding: 0.5em 1em;
  color: #fff;
  background-color: #836953;
  border: none;
}

.card:nth-child(2) {
  background-color: #836953;
  color: #fff;
}

.card:nth-child(2) span {
  font-size: 1em;
  padding: 0.5em 1em;
  color: #836953;
}

.back {
  margin: 2rem 0;
  width: 5.7rem;
  padding: 0.5rem 0;
  display: flex;
  gap: 19px;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 20px 20px 60px #a3a2a0, -20px -20px 60px #dddcd8;
}

.searchBarContainer .searchBar {
  display: flex;
  padding: 10px;
  gap: 10px;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}

.searchBarContainer input[type='text'] {
  padding: 6px;
  font-size: 17px;
  border: none;
  width: 100%;
}

.searchBarContainer button {
  padding: 6px 10px;
  background: #fff;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.searchBarContainer button:hover {
  background: #fff;
}

.filter {
  width: 9rem;
  padding: 1rem;
  background-color: #fff;
  border: none;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  border-radius: 7px;
}

.anchor {
  text-decoration: none;
  color: inherit;
}

.name {
  margin-bottom: 1.5rem;
}
