@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.nav {
  display: flex;
  justify-content: space-between;
/*position: fixed;*/
  /*width: 100vw;*/
  
  height: 50px;
  background-color: #DEDEDE;
  transition: 0.2s;
/*width: calc(100vh - 100%;*/
  border-radius: 2px;
  box-shadow: 0px 1px 10px #999;
  
}

.header {
 /* position: sticky;
  top: 0;
  left: 0;*/
  /*width: 100%;
  height: 200%;*/
  margin-bottom: 2rem;
  width: 100;
}

#navBar {
  
  display: flex;
}

.floatingNav {
  width: calc(100vh - 100px); 
  border-radius: 2px;
  box-shadow: 0px 1px 10px #999;
}


.label {
  font-size: .625rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: +1.3px;
  margin-bottom: 1rem;
}

.searchBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchQueryInput {
  width: 100%;
  height: 2.8rem;
  background: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
}

.searchQuerySubmit {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

.searchQuerySubmit:hover {
  cursor: pointer;
}

.searchContainer {
  margin-bottom: 2rem;
}

.card {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 17em;
  margin: 1em;
  text-align: center;
  margin-inline: auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.card img {
  max-width: 100%;
}
.description {
  padding: 0 1em 1em 1em;
}
.button {
  font-size: 1em;
  padding: 0.5em 1em;
  color: #fff;
  background-color: #836953;
  border: none;
}

.card:nth-child(2) {
  background-color: #836953;
  color: #fff;
}

.card:nth-child(2) button {
  font-size: 1em;
  padding: 0.5em 1em;
  color: #836953;
}

.back {
  margin: 2rem 0;
}